<!DOCTYPE html>
<html lang="en">
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Admin Support</title>
</head>
<body>
<main class="container">
    <a href="/admin/index" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div class="row">
        <div class="col-sm mt-5">
            <h1 class="text-center">Support</h1>
        </div>
    </div>
    <!-- === ALL TICKETS / ASIGNED TICKETS BUTTONS === -->
    <div class="row mt-5">
        <div class="col-sm-6" align="center">
            <a href="/admin/support" class="btn btn-success w-75 p-3">Alle Tickets</a>
        </div>
        <div class="col-sm-6" align="center">
            <a href="/admin/asigned/ticket" class="btn btn-success w-75 p-3">Tildelt Tickets</a>
        </div>
    </div>
    <table class="table mt-5 table-striped table-bordered table-dark table-hover">
        <thead class="thead-dark">
        <a href="#">
            <tr>
                <th scope="col ">Fra</th>
                <th scope="col">Ticket Nummer</th>
                <th scope="col">Navn</th>
                <th scope="col">Beskrivelse</th>
                <th scope="col">Emne</th>
                <th scope="col">Dato Og Tidspunkt</th>
                <th scope="col">Handling</th>

            </tr>
        </a>
        </thead>

        <!-- === ALL TICKETS FOR EACH === -->
        <tbody>
        <tr style="cursor: help;"class="mt-5">
            <th>Mail</th>
            <td>Ticket Number</td>
            <td>Navn</td>
            <td>Context</td>
            <td>Topic</td>
            <td>Date</td>
            <td>

                <!-- === ACTION BUTTONS === -->
                <form method="post">
                    <input style="display: none" name="ticket_context" type="text">
                    <input style="display: none" name="ticket_timestamp" type="text">
                    <input style="display: none" name="ticket_ownerMail" type="text">
                    <input style="display: none" name="ticket_id" type="text">
                    <button type="submit" class="btn btn-info">Start Ticket</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>