<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>activityInfo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/userClient/css/activityInfo.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="fragments/navbar :: navigation">

    </div>

</header>
<main class="container">


    <div class="activity">
        <!-- ACTIVITY TITLE AND SUB-TITLE -->
        <div class="col-sm-12 title">
            <div class="col-sm-12 activityHeader">

            </div>
        </div>

        <!-- === ACTIVITY INFO ALL ENCOMPASSING=== -->

        <div class="col-sm-12 activityInfo row">

            <!-- ACTIVITY BREADTEXT -->
            <div class="col-sm-8 breadText">

                <!-- ACTIVITY DURATION -->
            </div>
            <div class="ExtraInfo text-white col-sm-4">
                <div class="duration">
                    <h4 class="duration1">
                        Varighed
                    </h4>

                    <!-- ACTIVITY PRICE -->
                </div>
                <div class="price">
                    <h4>Pris</h4>

                </div>

                <!-- ACTIVITY PRACTICAL INFO -->
                <div class="pinfo">
                    <h4>Praktisk info</h4>

                </div>

            </div>
        </div>
    </div>
</main>
<footer>
    <!--=================== Footer ============================ -->
    <div th:replace="fragments/footer :: footerFragment"></div>
</footer>
</body>
<script src="/userClient/js/activityInfo.js"></script>
</html>