<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til AdventureXP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/userClient/css/slider.css" type="text/css" rel="stylesheet">
    <link href="/userClient/css/navbar.css" type="text/css" rel="stylesheet">
    <link href="/userClient/css/index.css" type="text/css" rel="stylesheet">
    <script type="application/javascript" th:src="@{//code.jquery.com/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
    <header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="fragments/navbar :: navigation">

    </div>
    </header>
    <main>


    <!--=================== SLIDER ============================ -->
    <div class="slider">

    <div>


        <div th:class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="/images/slidingImages/adventure-2528477_1920.jpg"/>
                    <div class="info">
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="/images/slidingImages/bowling-1180288-1600x1200.jpg"/>
                    <div class="info">
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="/images/slidingImages/pexels-cottonbro-5435454.jpg/" alt="">
                    <div class="info">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--=================== ACTIVITY LIST ============================ -->

        <div class="activities" align="center" style="">
            <h1 style="margin-bottom: 5%">Vores Aktiviteter</h1>
            <div class="row w-75 activityList">
                <!--            FIRST ROW -->

            </div>
        </div>
    <!--=================== PRINCIPLE LIST ============================ -->

        <div class="principles" align="center">
            <div class="row w-75">
                <!--            FIRST ROW -->
                <div class="col-sm-4">
                    <img src="/images/logos/time.png">
                    <p>Åbent alle ugens dage<br> fra 6 til 12</p>
                </div>
                <h1></h1>
                <div class="col-sm-4">
                    <img src="/images/logos/checkmark.png">
                    <p>Alle vores aktiviteter<br> er godkendt og alle kunder <br> er forsikret gennem os.</p>
                </div>
                <h1></h1>
                <div class="col-sm-4">
                    <img src="/images/logos/Graduationcap.webp">
                    <p>Vi har udviklet og afhold <br> fornøjelses og teambuildings <br> arrangementer i ca 20 år</p>
                </div>
            </div>
        </div>
    </main>
        <!--=================== Footer ============================ -->
    <div th:replace="fragments/footer :: footerFragment"></div>
</body>
<script src="/userClient/js/index.js"></script>
<script src="/userClient/js/slider.js"></script>
<script src="/userClient/js/navbar.js"></script>

</html>