<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/userClient/login.css" type="text/css" rel="stylesheet">

</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="fragments/navbar :: navigation" th:width="User=${User}">

    </div>

</header>
<main class="container" align="">
    <!--    </img src="/images/adventure.jpg">-->
    <!-- === CREATE EVENT === -->
    <form class="contact w-50" action="/doLogin" method="post">
        <div class="valid" id="notFilled"></div>

        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="/images/logo04.PNG" class ="brand_logo" alt="logo">
                    </div>
                </div>

        <!-- E-mail -->
        <div class="form-group mb-1 mt-5">
            <input class="form-control" type="email" id="E-mail" name="mail" required placeholder="E-mail">
        </div>

        <!-- Password -->
        <div class="form-group mb-1 mt-3">
            <input class="form-control" type="password" id="Kodeord" name="password" required placeholder="Kodeord">
        </div>


        <div class="form-group mt-5">
            <input type="checkbox" value="lsRememberMe" id="rememberMe">
            <label for="rememberMe">Remember me</label>
            <input type="submit" value="Login" class="btn login_btn"/>

        </div>

        <div class=" d-flex justify-content-center login_container">
        </div>

<!--        DONT HAVE A PROFILE        -->
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                <p class="text-white">Har du ikke en bruger?</p> <a href="/register" class="ml-2 text-primary">Opret Bruger</a>
            </div>

<!--            FOTGOT PASSWORD-->
            <div class="d-flex justify-content-center links">
                <a href="/contact/" class="text-white text-primary">Glemt Kodeord?</a>
            </div>
        </div>
    </div>
</div>



    </form>
</main>
    <!--=================== Footer ============================ -->
    <div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>